/*----------Common CSS----------*/
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Share', cursive;
	font-size: 16px;
	line-height: 1.5em;
	color: #FEFCE5;
	background-color: #1C1C1F;
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

/*Header*/
.header {
	background-color: #000;
	overflow: hidden;
}

.header ul li {
	float: left;
	margin-right: 60px;
}

.header ul li #title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 29px;
	color: #FB9902;
	margin-right: 354px;
}

.small {
	vertical-align:super;
	font-size: 20px;
	text-transform: lowercase;
}

.header ul li a {
	font-size: 15px;
	display: block;
	height: 90px;
	line-height: 90px;
	color: #E6D9C8;
	text-transform: uppercase;
}

.header ul li a:hover {
	color: #FB9902;
}

/*-----User-Bar-----*/

.userbar {
	background-color: #000;
	overflow: hidden;
}

.userbar ul li {
	float: left;
	margin-right: 60px;
}

.userbar ul li #title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 29px;
	color: #FB9902;
	margin-right: 438px;
}

.small {
	vertical-align:super;
	font-size: 20px;
	text-transform: lowercase;
}

.userbar ul li a {
	font-size: 15px;
	display: block;
	height: 90px;
	line-height: 90px;
	color: #E6D9C8;
	text-transform: uppercase;
}

.userbar ul li a:hover {
	color: #FB9902;
}


/*-----Menu-bar-----*/
.menubar {
	background-color: #090909;
	overflow: hidden;
}

.menubar ul li {
	float: left;
	margin: 0;
}

.menubar ul li a {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	display: block;
	height: 50px;
	line-height: 50px;
	color: #E6D9C8;
	text-transform: uppercase;
}

.menubar ul li a:hover {
	color: #FB9902;
	border-bottom: 3px solid #FB9902; 
}



/*-----Shop-Banner-----*/

.shop-banner {
	width: 1600px;
	height: 400px;
	background: url("../../assets/img/shopbanner.jpg");
	position: relative;
}

.shop-banner ul {
	position: absolute;
	top: 47%;
	left: 39%;
}

.shop-banner ul li {
	float: left;
	margin-right: 6px;
}

.shop-banner ul li a {
	color: #fff;
	font-size: 20px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8) none;
	border-radius: 10px;
}

.shop-banner ul li a:hover {
	color: #FB9902;
	background: rgba(0, 0, 0, 0.9) none;
}

/*----------Items-lists----------*/
.main {
	width: 100%;
	height: 100%;
	float: left;
	margin-bottom: 10%;
}
.items {
	list-style: none;
	margin: 15px;
	padding: 0;
	overflow: hidden;
}
.items li {
	background: rgba(0, 0, 0, 0.6) none;
	border-radius: 10px;
	max-width: 400px;
	margin: 20px 30px;
	padding: 30px;
	text-align: center;
	float: left;
	font-size: 15px;
}

.items b {
	color: #FB9902;
  	display: block;
  	margin: 5px 0;
  	font-weight: normal;
}

.items #price {
	color: #FCC064;
}

.items a {
	color: #FEFCE5;
	background: #FB9902;
	display: block;
	font-weight: normal;
	border-radius: 5px;
	padding: 5px;
}

/*-----items-hover-----*/

.items a:hover {
	background: #FF7700;
}


/*----------User-Login----------*/

.login {
	background: #000;
	border-radius: 10px;
	max-width: 400px;
	margin: 70px auto;
	padding: 50px;
	font-size: 15px;
}
.login form label {
	color: #fff;
	padding: 10px;
}
.login h1 {
	color: #FB9902;
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
}
.login input {
	width: 300px;
	height: 40px;
	padding: 8px;
	color: #FB9902;
	background-color: #131313;
	border-radius: 5px;
	border: none;
}
#login-form-bottom {
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	color: #fff;
	background-color: #FB9902;
	border-color: #FB9902;
	border-radius: 5px;
	font-family: 'Share', cursive;
	font-size: 15px;

}
.login a {
	color: #525252;
}


/*-----login-hover-----*/
#login-form-bottom:hover {
	opacity: 0.8;
}
.login a:hover {
	opacity: 0.6;
}

/*----------Add-New-items-Section----------*/
.new-items {
	height: 870px;
}

/*----------Add-Items-Form----------*/

.add-items-form {
	float: left;
	background: #000;
	width: 40%;
	height: 100%;
	padding: 50px;
	font-size: 15px;
	border-bottom: 1px solid #1C1C1F;
}

.add-items-form form label {
	color: #fff;
	padding: 10px;
}

.add-items-form h1 {
	color: #FB9902;
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
}

.add-items-form input {
	width: 440px;
	height: 40px;
	padding: 8px;
	color: #FB9902;
	background-color: #131313;
	border-radius: 5px;
	border: none;
}

.add-items-form textarea {
	width: 440px;
	height: 90px;
	padding: 8px;
	color: #FB9902;
	background-color: #131313;
	border-radius: 5px;
	border: none;
}

#add-items-form-bottom {
	margin-top: 10px;
	padding: 10px;
	width: 440px;
	color: #fff;
	background-color: #FB9902;
	border-color: #FB9902;
	border-radius: 5px;
	font-family: 'Share', cursive;
	font-size: 15px;

}
.add-items-form a {
	color: #525252;
}


/*-----add-items-form-hover-----*/
#add-items-form-bottom:hover {
	opacity: 0.8;
}
.add-items-form a:hover {
	opacity: 0.6;
}

/*-----Items-about-box-----*/
.items-about-box {
	float: left;
	padding: 50px;
	height: 100%;
	width: 60%;
	color: #E6D9C8;
	background: rgba(0, 0, 0, 0.3) none;
	text-align: center;
}

/*----------Detail-Page---------*/

li #back {
	margin-left: 190px;
}


.detail-content {
	height: 100%;
	background: rgba(0, 0, 0, 0.3) none;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 50px;
}
.detail-content img {
	margin-right: 50px;
	border-radius: 10px;
}
.detail-content h2 {
	color: #FB9902;
}
.detail-content #price {
	color: #FCC064;
}


/*----------Footer----------*/

.footer {
	float: left;
	overflow: hidden;
	width: 100%;
	height: 400px;
	background-color: #000;
}
.footer a {
	color: #FB9902;
	font-size: 20px;
}

.part1,.part2,.part3,.part4 {
	float: left;
	margin-top: 20px;
}

.part1 {
	padding: 30px;
	width: 25%;
}

.part2 {
	padding: 30px;
	width: 25%;
}

.part3 {
	padding: 30px;
	width: 25%;
}

.part4 {
	padding: 30px;
	width: 25%;
}

.part4 a {
	font-size: 18px;
}

.foot {
	overflow: hidden;
	width: 100%;
	height: 50px;
	line-height: 25px;
	text-align: center;
	color: #FB9902;
	background-color: #000;
	border-top: 1px solid #0A0A0D;
}


/*----------Hover----------*/

#facebook:hover {
	color: #4565A9;
}

#googleplus:hover {
	color: #D64937;
}

#twitter:hover {
	color: #1C9CEA;
}

#instagram:hover {
	color: transparent;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

